.mainblock10__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 160px;
}

.mainblock10__img img {
  transition: 1s;
}

.mainblock10__img img:hover {
  transform: scale(1.1);
}