.mainblock4__container {
  padding-left: 135px;
  padding-right: 135px;
}

.mainblock4__row {
  padding-top: 194px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.mainblock4__title {
  font-family: Raleway-Bold;
  font-weight: 700;
  font-size: 35px;
  line-height: 52.5px;
}

.mainblock4__item {
  background-color: rgba(91, 91, 91, 1);
  max-width: 530px;
  position: absolute;
  top: 320px;
  left: 0;
}

.mainblock4__item_subtitle {
  padding-top: 51px;
  padding-left: 42px;
  font-family: Raleway-Medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.mainblock4__text {
  padding-left: 42px;
  font-family: Raleway-Light;
  font-weight: 300;
  font-size: 18px;
  line-height: 24.3px;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 25px;
}

.mainblock4__image {
  padding-top: 60px;
}

.mainblock4__cub {
  width: 100px;
  height: 55px;
  background-color:#FF9619;
  position: absolute;
  top: 542px;
  left: 310px;
}

.years__container {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.years__cont1 {
  font-size: 25px;
  line-height: 31.87px;
  padding-top: 30px;
}

.years__cont2 {
  font-family: Raleway-SemiBold;
  font-weight: 600;
  font-size: 144px;
  color: rgba(90, 90, 90, 0.1);
  margin-top: -30px;
}

